dl {
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #251157;
}
dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

.outer {
    width: 1000px;
    margin: 0 auto;
}

h2 {
    font-family: fantasy;
    font-size: 30pt;
    color: #251157;
}

h3 {
    font-family: fantasy;
    font-weight: 100;
    color: #251157;
}

.knockout-around {
    position: relative;
    z-index: 3;
}
.knockout-around:before, .knockout-around:after {
    content: "";
    position: absolute;
}
.knockout-around:before {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background-image: -webkit-gradient(radial, left top, 10, 90% 0%, 150, from(#251157), to(transparent));
    background-image: -webkit-radial-gradient(left top, 40% 125%, #251157, transparent);
    background-image: -moz-radial-gradient(left top, farthest-corner, #251157 0%, transparent 72%);
    z-index: -2;
}
.knockout-around:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    z-index: -1;
}

.small-tag {
    font-size: 9pt;
}

.mi-addToRecipebook-form {
    display: none;
}

.mi-header-headline {
    display: inline-block;
    float: left;
}

.mi-header-buttons {
    float: right;
    display: inline-block;
    margin-top: 22px;
}

.mi-addToRecipebook-container {
    display: inline-block;
}

.mi-addToRecipebook-container #mi-addToRecipebook-form {
    position: absolute;
    border: 1px solid grey;
    border-top: none;
    margin-right: 15px;
    background: lightgrey;
    border-radius: 5px;
    padding: 10px;
}