<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" href="../Plugins/flexslider/woocommerce-FlexSlider-0d95828/flexslider.css">
    <link rel="stylesheet" href="../../public/css/detail.css">
</head>
<body>
    <div class="outer">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
                <li>
                    <img src="http://via.placeholder.com/150x150">
                </li>
            </ul>
        </div>
        <h2>Caipirinha</h2>
        <p>Ein erfrischender Cocktail mit Limette und Rohrzucker.</p>

        <h3>Zutaten</h3>
        <dl class="knockout-around">
            <dt>24cl</dt>
            <dd>Cachaca</dd>

            <dt>8TL</dt>
            <dd>brauner Zucker</dd>

            <dt>2</dt>
            <dd>Limetten</dd>

            <dt>etwas</dt>
            <dd>Crusheis</dd>
        </dl>

        <div>
            <h3> Zubereitung </h3>
            <p>
                Limetten achteln und im Glas mit einem Stößel ausdrücken. Zucker drüber geben und das Glas mit Eis auffüllen. Danach Cachaca zugeben. <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../Plugins/flexslider/woocommerce-FlexSlider-0d95828/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: false,
                itemWidth: 150,
                itemMargin: 5,
                maxItems: 4
            });
        });
    </script>
</body>
</html>